/* app/assets/css/ComponentAssets/MainContent.css */
/* Região dos gráficos */
.dash-boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--card_gap);
  background-color: #ecf0f1;
  color: #2c3e50;
  box-sizing: border-box;
  width: auto;
  height: 100%;
}

.dashboard-card {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
}
