.sidebar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  gap: 0.5rem;
  font-size: 1.3em;
  font-weight: bold;

}

.sidebar-menu {
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.log_off-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Push to bottom */
  padding: 20px;
  margin-bottom: 20px; /* Optional: space from bottom */
}

.log_off-button {
  color: var(--log_off-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}


.misc-menu-button {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: var(--outer_menu_btn_color);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-button-label {
  color: var(--sidebar-btn-color);
  width: 100%;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.3em;
} 

.menu-button-label:hover {
  background: radial-gradient(circle, var(--inner_menu_btn_color) 30%, var(--outer_menu_btn_color) 100%);
  color: var(--sidebar-btn-hover-color, #333333);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
